#banner{
	width: 100%;
}
#map{
	width: 70%;
	height: 800px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 100px;
}
nav{
  background-image: linear-gradient(white, #2B6CA3);  
  text-align: center;
  box-shadow: 1px 1px, #d6d6d6;
}
nav a {
  display:inline-block;
  width: 33%;  
  padding-top: 28px;
  padding-bottom: 28px;
  font-size:28px;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  color:white;
  text-decoration: none;
}
nav a:hover{
  background-image: linear-gradient(#d6d6d6, #1b4569);
}
nav li{
  display:inline;
  text-align:center;
}